* {
  --background-color: #f5f8ff;
  --card-color: #ffffff;
  
  --primary-color0: #7500a3;
  --primary-color1: #c100d3;
  --primary-color2: #db81ff;
  --header-color: #111111;
  --text-color: #002b1a;
  --active-color: #FFF07C;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-content {
  padding: 0 15px;
  margin: auto;
}

.button-wrap {
  display: flex;
  justify-content: center;
}