.text-field {
    label {
        display: block;
        color: var(--text-color);
        font-weight: bold;
    }

    input {
        border: 2px solid var(--primary-color0);
        border-radius: 5px;
        padding: 3px;
        outline: none;

        &:hover {
            border-color: var(--primary-color1);
        }

        &:focus {
            border-color: var(--primary-color2);
            outline: 1px solid var(--primary-color2);
        }
    }
    

    margin-bottom: 20px;
}