.header {
    background-color: var(--primary-color0);
    height: 50px;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-between;

    a {
        color: #ffffff;
        &:hover {
            color: var(--primary-color2);
        }

        &._active {
            font-weight: 600;
            color: var(--active-color);
        }
    }
}