.main-button {
    width: 100px;
    margin: 10px;
    padding: 5px 14px;
    border: 1px solid #464343;
    border-radius: 5px;
    font-family: 'Quicksand';
    font-size: 15px;
    background-color: rgb(145, 186, 202);
    cursor: pointer;

    &.red {
        color: red
    }

    &.blue {
        color: blue
    }

    &.green {
        color: green
    }

    &:hover {
        background-color: rgba(122, 145, 160, 0.8);
    }
}

