.post {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 260px;
    margin: 10px;
    display: flex;
    flex-direction: column;

    &__img {
        width: 100%;
        max-height: 120px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            width: 100%;
        }
    }

    &__title {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__text {
        font-family: 'Quicksand';
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 7px;
        flex-grow: 1;
    }

    &__date {
        font-size: 14px;
        color: blue;
        

    }
}